/* /* 
  1. Use a more-intuitive box-sizing model.
*/
/* *, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }

body{
    background: purple;
   
}

a:link {
    color: white; 
}


a:visited {
    color: lightgray;
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
}

#skills-text{
    text-decoration: underline;
    margin-bottom: 1em;
    color: orangered;
}

#personal-info {
    margin-top: 100px;
    padding-left: 5px;
    margin-left: 430px;
   

}

#about-me, #what-i-offer,  #my-history {

    margin-bottom: 30px;
    font-size: larger;
    color: red;
}

#my-history{
    color: yellow;
}

#what-i-offer{
    color: blue;
}

.circle-image {
    border-radius: 50%;
}
p {
    padding-top: 1em;
}


#who-you-are {

    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 50%;
}

#navbar {
    background-color: #333;
    color: white;
    position: fixed;
    top:0;
    width: 100%;
  }
  
  #navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  #navbar li {
    margin: 0 10px;
    padding: 10px;
  }
  
#sidebar {
    /* flex: 1; */
    margin-top: 2.3em;
    width: 400px;
    padding: 20px;
    border-right: 2px solid black;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: yellowgreen;
    
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



  