/* Copyright 2023 Saadman Islam Khan */
  * {
    margin: 0;
  }

  html, body {
    height: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

body{
    background-color: whitesmoke;
}

a:link {
    color: white; 
}


a:visited {
    color: lightgray;
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
}

#skills-text{
    text-decoration: underline;
    margin-bottom: 1em;
}

#personal-info {
    margin-top: 100px;
    padding-left: 5px;
    margin-left: 430px;
   

}

#about-me, #what-i-offer,  #my-history {
    padding-left: 40px;
    margin-bottom: 30px;
}

.circle-image {
    border-radius: 50%;
}
p {
    padding-top: 1em;
}


#who-you-are {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 50%;
    padding-left: 30px;
}

#navbar {
    background-color: #333;
    color: white;
    position: fixed;
    top:0;
    width: 100%;
  }
  
  #navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  #navbar li {
    margin: 0 10px;
    padding: 10px;
  }
  
#sidebar {
    /* flex: 1; */
    margin-top: 2.3em;
    width: 400px;
    padding: 20px;
    border-right: 2px solid black;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



  